/*. resetando configucações globais */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

html,
body,
#root {
  background-color: #efefef;
  height: 100vh;

}

html{
  --meuBranco: #eefbff;
  --azulBranco: #b9eeff;
  --azulClaro: #88aaff;
  --azulMedio: #3964d0;
  --azulEscuro: #122963;
  font-size: 62.5% /*. é igual 10px */
}

body, button, input, textarea{
  /* intervalo de tamanho */
  font-size: clamp(14px, 1.6rem, 2vw);
  /* . intervalo de tamanho das fontes:*/
      /*. menor tamanho 14px, padrão 1.6rem, maior tamanho letra 2vw 
      /*. ou seja o maior tamanho da letra pega o VW total da tela definido no body nas linhas anteriores e usa 2vw dela) */
      /* .isso é importante pq o VW total de uma tela de celular é X aí ele pega 2vw do X */
      /* .o VW total de uma televisão é Y aí ele pega 2vw do Y */

  font-family: 'Open Sans', sans-serif;
  /* font-family: 'Poppins', sans-serif; */
}