#container{
    display: flex;
    justify-content: center;
    
    margin-top: 3rem;
    gap: 5rem;
    flex-wrap: wrap;
    height: 100vh;
    background: linear-gradient(to bottom, #e3e9f7, #eef8fd);
    border-radius: 1rem;
    margin: 4rem;
}


#container > #formulario {
    margin: 3rem;
}


#alunoOuEmpresa{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

}


#formulario{
    margin-right: 3rem;
}
#formulario input {
    display: block;
    margin-bottom: 10px;
}

.imagem button{
    margin-top: 2rem;
}

.imagem {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1rem;
}

